<div class="flex gap-4 items-center bg-white border-b p-4">
  <img
    [src]="offer.companyLogo"
    [alt]="offer.companyName"
    class="size-16 bg-gray-100 rounded border border-gray-100"
  />

  <div class="flex-1">
    <h2 class="mb-2 font-normal text-lg">
      <a
        [routerLink]="detailsRouterLink"
        [relativeTo]="activatedRoute"
        [title]="offer.title"
        class="hover:underline"
      >
        {{ offer.title }}
      </a>
    </h2>

    <div
      class="flex flex-col lg:flex-row lg:justify-between text-xs md:text-sm"
    >
      <div>
        <span class="text-gray-700">Company:</span>
        {{ offer.companyName }}
      </div>
      <div>
        <span class="text-gray-700">Reference:</span>
        {{ offer.reference }}
      </div>
    </div>
  </div>

  @if (showActions) {
    <div class="px-2">
      <button
        appButton="transparent"
        class="text-gray-400"
        [title]="
          isFavourite() ? REMOVE_FROM_FAVORITES_LABEL : ADD_TO_FAVORITES_LABEL
        "
        (click)="favouriteOffersService.toggle(offer.id)"
      >
        <app-star-icon
          [id]="'star-' + offer.id"
          [ngClass]="{ active: isFavourite() }"
        ></app-star-icon>
      </button>
    </div>
  }
</div>
