<div class="flex gap-4 items-center">
  <img
    [src]="details.companyLogo"
    [alt]="details.companyName"
    class="size-28 bg-gray-100 rounded border border-gray-100"
  />

  <div class="flex-1">
    <h2 class="text-3xl mb-4">{{ details.title }}</h2>

    @if (tags.length > 0) {
      <app-chips-list [data]="tags"></app-chips-list>
    }
  </div>
</div>

<div class="mt-4">
  <div>
    <span class="font-normal">Company:</span>
    {{ details.companyName }}
  </div>

  <div>
    <span class="font-normal">Publish date:</span>
    {{ details.publishDate | date: "shortDate" }}
  </div>

  <div>
    <span class="font-normal">Location:</span>
    {{ details.location }}
  </div>

  <div>
    <span class="font-normal">Reference:</span>
    {{ details.reference }}
  </div>

  <section class="html-description mt-4">
    <h2 class="font-normal text-lg">Description:</h2>

    <div [innerHTML]="details.description | sanitizeHtml"></div>
  </section>
</div>
